.listShimmer{
    height: 250px;
}

.detailShimmer{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.detailShimmerDiv{
    display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.detailShimmerDiv p{
    width: 60%;
    margin: 15px auto;
    /* margin: 10px 10px; */
    border-radius: 7px;
    height: 25px;
    background-color: rgb(68, 68, 68);
}

.detailShimmerImg{
    width: 28vw;
    height: 30vh;
    background-color: rgb(68, 68, 68);
}



.listShimmerImg{
    width: 100%;
    height: 120px;
    background-color: rgb(68, 68, 68);
}

.listShimmerPara{
    /* max-width: 90px; */
    margin: 10px 10px;
    border-radius: 7px;
    height: 20px;
    background-color: rgb(68, 68, 68);

}